{% extends "authors/base.html" %}

{% block title %}
    Index of authors
{% endblock %}

{% load random_joke %}
{% load email_domain %}
{% block body %}
    <h1>Authors:</h1>
    {% joke 0 %}
    {% joke 1 %}
    {% joke 2 %}
    {% joke 3 %}
    {% joke abc %}
    <div>
        <ul class="list-group">
            {% for author in authors %}
                <li class="list-group-item">{{ author.id }}. {{ author }} | {{ author.email|domain }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}