{% extends 'homepage/base.html' %}

{% block body %}
    <h1>Hello, articles!</h1>

    {% for num in articles %}
        <h3>Article #{{num}} {{ val|safe }}</h3>
        
    {% empty %}
        <h3>Sorry, no articles</h3>
    {% endfor %}
    
    {% autoescape off %}
        {% firstof val1 val2%}
    {% endautoescape %}

    <pre>
        {{ obj.foo }}
        {{ obj.data.spam }}
        {{ obj.list.2 }}
        {{ 'spam'|add:'eggs' }}
        {{ 7|add:'3' }}
        You have {{ num_cherries }} cherr{{ num_cherries|pluralize:'y,ies' }}
    </pre>

    <div>
        <ul class="list-group">
            {% for a_date in dates %}
                {% ifchanged %}
                    <li class="list-group-item">{{ a_date|date:"SHORT_DATE_FORMAT" }}</li>
                {% endifchanged %}
                <small>{{ a_date|date:"TIME_FORMAT" }}</small>
            {% endfor %}
        </ul>
    </div>

{% endblock %}